[Kite]
use_hooks=True
use_amqp=True

[Cloudstack]
host=cloud.internal.machines
port=443
scheme=https
urlpath=/portal/client/apis/ccpapi01
apikey=123QWEASD
secretkey=123QWEASD

[Amqp]
hostname=localhost
login=guest
passcode=guest
exchange=exchange.cloudstack
