[Kite]
use_hooks=True
use_amqp=True

[Cloudstack]
host=cloudstack.internal.machines
port=8080
apikey=123QWEASD
secretkey=123QWEASD

[Amqp]
hostname=localhost
login=guest
passcode=guest
exchange=exchange.cloudstack
